<div class="card text-center float-left m-3" style="width: 18rem;">
  <div class="card-header bg-info">
    <div class="font-weight-bold">
      <h3>Intern Izzy</h3>
    </div>
    <hr>
    <div>Intern</div>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush text-left">
      <li class="list-group-item">ID: #HERE</li>
      <li class="list-group-item">Email: EMAIL HERE</li>
      <li class="list-group-item">School: SCHOOL HERE</li>
    </ul>
  </div>
  <div class="card-footer bg-info"></div>
</div>