<div class="card text-center float-left m-3" style="width: 18rem;">
  <div class="card-header bg-danger">
    <div class="font-weight-bold">
      <h3>NAME</h3>
    </div>
    <hr>
    <div>Manager</div>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush text-left">
      <li class="list-group-item">ID: #HERE</li>
      <li class="list-group-item">Email: EMAIL HERE</li>
      <li class="list-group-item">Office Number: #HERE</li>
    </ul>
  </div>
  <div class="card-footer bg-danger"></div>
</div>